.faq
    margin-bottom: 24px
    background: #f9f9f9;
    border: 1px solid #c2c2c2;
    border-left: none;
    border-right: none;
.answer
    margin-bottom: 0!important

.collapsible
    margin-bottom: 0!important
    .collapsible__trigger
        display: block
        padding: 0 .5rem
        width: 100%
        margin-bottom: 10px!important
